/* global style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* gives some spacing around the text and centers everything into the middle */
.current-weather {
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}
/* lets the future forecast show up horizontally */
.future-forecast {
  display: flex;
}
/* gives some spacing around the text and centers everything into the middle */
.forecast-day {
  width: 20%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-right: 0;
  margin-left: 0;
}
